.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    /*background: #eeeeee;*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#accordion{
    border-top: 1px solid;
    margin-top: 5em;
    font-size: 15px;
}

#accordion a {
    color: #1a1a1a;
}

#accordion i {
    color: #333333;
}

.accordion .link {
    cursor: pointer;
    display: block;
    /*padding: 2em;*/
    padding-top: .5em;
    color: #1a1a1a;
    /*font-size: 14px;*/
    font-weight: 100;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion .link:hover {
    color: #0099CC;
    background: #F2F2F2;
    border-radius: 30px;
}

.accordion_icon_text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
}
.accordion_icon_text:hover {
    color: #0099CC;
}


.accordion li {
    color: #1a1a1a;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
    /*position: absolute;*/
    /*display: inline;*/
    top: 16px;
    left: 12px;
    /*font-size: 13px;*/
    color: #1a1a1a;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    /*font-size: 14px;*/
}

.accordion li.open .link { color: #872b2b; }

.accordion li.open i { color: #872b2b; }

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
    display: none;
    /*background: #eeeeee;*/
    /*font-size: 11px;*/
    text-align: left;
    padding-top: .5em;
    /*padding-bottom: 2%;*/
    /*padding-left: 1em;*/
    /*padding-right: 3%;*/
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
    font-size: 12px;
    color: #333333;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 11px;
    /*padding: 12px;*/
    padding-left: 1em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}