/*Color palettes:*/
/*Teal: #60dcd4*/
/*Teal 2: #87FFF6FF*/
/*Teal 3: #60dcd4*/
/*Pastel Pink: #d8a5a5*/
/*Pastel Pink 2: #d4b9b9*/
/*Light Pink: #fef8f8*/
/*Light Pink 2: #fbbfbf*/
/*Grey: #77767b*/

/*TODO: Make color scheme toggle - Pink, Teal, Dark. */
/*Pink Gradient*/
/*background-image: linear-gradient(#d4b9b9, #fbbfbf);*/

/*Teal Gradient*/
/*background-image: linear-gradient(#87FFF6FF, #60dcd4);*/

/*begin overrides*/

p {
    font-family: Liberation Serif;
}

body{
    /*background-image: linear-gradient(#5aebe0, #60dcd4);*/
    /*background-image: url('/assets/images/test_images/background2.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-image: linear-gradient(#050d2b, #60dcd4);*/
    border: 10px solid transparent;
    padding: .5em;
    /*border-image: url('/assets/images/border2.png') 50 round;*/

}

.faded_opacity {
    /*background-image: linear-gradient(rgba(102, 102, 102, 0.67), rgba(90, 88, 88, 0.67));*/
    opacity: 30%;
}

.regular_opacity {
    opacity: 100%;
}


li {
    list-style-type: none;
    padding-bottom: .4em;
}

/*end overrides*/

/* begin page header*/
.page-header {
    font-family: "Liberation Serif";
    text-align: center;
    /*TODO: Find out how to change strike color*/
}
#settings-cog {
    float: right;
    background: #dddfe9;
    border-radius: 50%;
    border-style: hidden;
}
.settings_menu {
    /*display: none;*/
    position: absolute;
    margin-top: 10%;
    width: 30em;
    height: 20em;
    border: 1px solid #333333;
    background-image: linear-gradient(#e7e5e5, #cecdcd);
    margin-left: 30%;
    z-index: 99;
    opacity: 100%;
    font-family: "Liberation Serif";
    overflow-y: auto;
}
.settings_menu_header {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #333333;
    margin-bottom: .5em;
}
.settings_menu_row {
    display: block;
    padding-bottom: 2em;
    width: 100%;
}
.settings_menu_column1 {
    /*display: inline;*/
    vertical-align: middle;
    /*margin-left: 3em;*/
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
}
.settings_menu_column2 {
    /*display: inline;*/
    vertical-align: middle;
    /*margin-left: 3em;*/
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
}

.theme_color_toggle {
    width: 35px;
    height: 35px;
    border-style: hidden;
    border-radius: 50%;
    margin-left: .2em;
    margin-right: .2em;
}
.theme_color_toggle:hover {
    border: 3px solid #4abbcf;
}
#btn_colorTogglePink {
    background-color: #e83e8c;
}
#btn_colorToggleTeal {
    background-color: #0099CC;
}
#btn_colorToggleGrey {
    background-color: #444444;
}
.toggle_color_pink {
    background-image: linear-gradient(#e83e8c, #b32d66);
}
.toggle_color_teal {
    background-image: linear-gradient(#87FFF6, #54cac0);
}
.toggle_color_grey {
    background-image: linear-gradient(#777272, #635f5f);
}
.toggle_background_image {
    background-image: url('/assets/images/test_images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.display_settings_menu{
    display: block;
}
.hide_settings_menu{
    display: none;
}

.toggle_buttons {
    margin-left: .2em;
}
.toggle_buttons:hover {
    border: 1px solid #4abbcf;
}

/*begin anti-ad */
#antiad {
    border: 1px solid #111111;
    border-radius: 2%;
}

#antiad-header-text{
    font-size: 14px;
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    padding: .5em;
    color: #333333;
}

#antiad-ad-text{
    font-size: 13px;
    text-align: center;
    padding: .5em;
    color: #333333;
}
/*end anti-ad*/

/* begin right-side stuff */
#sticky-right{
    float: right;
    /*top: 15em;*/ /* doesnt change shit */
    width: 8em;
    height: 35em;
    margin-top: 1em;
    z-index: 99;
}

#menu{
    position: sticky;
    top: 15em;
    text-align: right;
    /*padding-right: 1em;*/
}
/* end right-side stuff */

/* begin recent tribe update cards */
#recent_tribe_updates{
    position: absolute;
    left: .5em;
    top: .5em;
    z-index: 1;
    height: auto;
    width: auto;
}
.recent-tribe-updates {
    margin-top: 5em;
    margin-bottom: 30px;
    margin-left: 1em;
}
.tribe-update-card-row{
    margin-top: 1em;
    margin-bottom: 2em;
}
.tribe-update-card {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #0b2e13;
    border-radius: 1em;
}
.tribe-update-card img {
    width: 100%;
}

.card-photo{
    padding: .5em;
}

.details {
    padding-top: 6px;
    color: #373b37;
    text-align: center;
}
.details h6 a {
    font-size: .9rem;
    font-family: "Glacial Indifference", "Open Sans", sans-serif;
    margin-top: 3px;
}
.details .left {
    font-size: .85rem;
}
.details .right {
    font-size: .85rem;
}
.details .right .fa-eye {
    color: #2365a2;
}
.details i {
    font-size: .8rem;
}


.tribe-update-card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #373b37;
    width: 75%;
}
.tribe-update-card-title h6 {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Glacial Indifference", "Open Sans", sans-serif;
}
.tribe-update-card-title-text{

}
/* end recent tribe update cards */