/*Color palettes:*/
/*Teal: #60dcd4*/
/*Teal 2: #87FFF6FF*/
/*Teal 3: #60dcd4*/
/*Pastel Pink: #d8a5a5*/
/*Pastel Pink 2: #d4b9b9*/
/*Light Pink: #fef8f8*/
/*Light Pink 2: #fbbfbf*/
/*Grey: #77767b*/

/*TODO: Make color scheme toggle - Pink, Teal, Dark. */
/*Pink Gradient*/
/*background-image: linear-gradient(#d4b9b9, #fbbfbf);*/

/*Teal Gradient*/
/*background-image: linear-gradient(#87FFF6FF, #60dcd4);*/

/*begin overrides*/

p {
    font-family: Arial;
}

body{
    background-image: linear-gradient(#5aebe0, #60dcd4);
    background-image: url('/assets/images/test_images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: linear-gradient(#050d2b, #60dcd4);*/
    border: 10px solid transparent;
    padding: .5em;
    /*border-image: url('/assets/images/border2.png') 50 round;*/

}

li {
    list-style-type: none;
    padding-bottom: .4em;
}

/*end overrides*/

/*begin anti-ad */
#antiad {
    border: 1px solid #111111;
    border-radius: 2%;
}

#antiad-header-text{
    font-size: 14px;
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    padding: .5em;
    color: #333333;
}

#antiad-ad-text{
    font-size: 13px;
    text-align: center;
    padding: .5em;
    color: #333333;
}
/*end anti-ad*/

/* begin right-side stuff */
#sticky-right{
    float: right;
    /*top: 15em;*/ /* doesnt change shit */
    width: 8em;
    height: 35em;
    margin-top: 1em;
    z-index: 99;
}

#menu{
    position: sticky;
    top: 15em;
    text-align: right;
    /*padding-right: 1em;*/
}
/* end right-side stuff */

/* begin recent tribe update cards */
#recent_tribe_updates{
    position: absolute;
    left: .5em;
    top: .5em;
    z-index: 1;
    height: auto;
    width: auto;
}
.recent-tribe-updates {
    margin-top: 5em;
    margin-bottom: 30px;
    margin-left: 1em;
}
.tribe-update-card-row{
    margin-top: 1em;
    margin-bottom: 2em;
}
.tribe-update-card {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #0b2e13;
    border-radius: 1em;
}
.tribe-update-card img {
    width: 100%;
}

.card-photo{
    padding: .5em;
}

.details {
    padding-top: 6px;
    color: #373b37;
    text-align: center;
}
.details h6 a {
    font-size: .9rem;
    font-family: "Glacial Indifference", "Open Sans", sans-serif;
    margin-top: 3px;
}
.details .left {
    font-size: .85rem;
}
.details .right {
    font-size: .85rem;
}
.details .right .fa-eye {
    color: #2365a2;
}
.details i {
    font-size: .8rem;
}


.tribe-update-card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #373b37;
    width: 75%;
}
.tribe-update-card-title h6 {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Glacial Indifference", "Open Sans", sans-serif;
}
.tribe-update-card-title-text{

}
/* end recent tribe update cards */